.contact-page {
  background-color: #0C0C0C;
  color: #F5F5F5;
  margin: 0 auto;
}

.contact-content {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: space-between;
  background-color: #121212;
  padding: 2rem;
  border-radius: 10px;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); */
}

/* Contact Info Section */
.contact-info {
  flex: 1;
  min-width: 250px;
}

.contact-info h1 {
  font-size: 2.5rem;
  color: #D4AF37;
  margin-bottom: 1rem;
}

.contact-info h3 {
  font-size: 1.5rem;
  color: #D4AF37;
  margin-bottom: 1rem;
}

.contact-info p {
  font-size: 1.1rem;
  color: #ccc;
  margin-bottom: 1rem;
  line-height: 1.6;
}

/* Contact Form */
.contact-form {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.contact-form input,
.contact-form textarea {
  background-color: #1a1a1a;
  color: #F5F5F5;
  border: 1px solid #444;
  padding: 1rem;
  border-radius: 8px;
  font-size: 1rem;
  width: 100%;
}

.contact-form textarea {
  min-height: 150px;
  resize: vertical;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #aaa;
}

.contact-form button {
  background-color: #D4AF37;
  color: #0C0C0C;
  padding: 0.75rem;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #b18c36;
}


.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #121212; /* Match the page background */
}

.main-content {
  flex: 1;
}
